<apex:page standardcontroller="Referred_Client__c" renderAs="pdf" applyBodyTag="false" applyHtmlTag="false" showHeader="false">   
    <apex:variable value="{!Referred_Client__c}" var="c" />
    <apex:composition template="LetterTemplatePDF">    
        <apex:define name="body">                 
            <span style="font-size: 12pt;">                        
                {!IF(ISBLANK(c.Title__c), '', c.Title__c + ' ')}{!c.Name}<br />
                {!BLANKVALUE(c.Postal_Address__c, c.Address__c)}<br />
                {!IF(ISBLANK(c.Postal_Address__c), c.Suburb__c, c.Postal_Suburb__c)} {!IF(ISBLANK(c.Postal_Address__c), c.Postal_State__c, c.State__c)} {!IF(ISBLANK(c.Postal_Address__c), c.Postal_Postcode__c, c.Postcode__c)}<br />
                <br />
            </span>                    
            Dear {!IF(ISBLANK(c.Title__c), c.Given_Name__c, c.Title__c + ' ' + c.Family_Name__c)}<br />
            <br />                        
            <div style="text-align: justify;">I am writing to confirm you have been accepted as a lifetime participant in the Lifetime Support Scheme, following a recent assessment of your injury.</div>
            <br />
            <div style="text-align: justify;">This means that the Lifetime Support Authority (LSA) will pay the necessary and reasonable treatment, care and support you require as a result of your motor accident injuries for the rest of your life.</div>
            <br />
            <div style="text-align: justify;">The decision to provide you with lifetime support, under section 26 of the <span style="font-family: Sans-Serif;"><i>Motor Vehicle Accidents (Lifetime Support Scheme) Act 2013</i></span>, is based on the information provided in your original application and the most recent assessment of your injury.</div>
            <br />
            <div style="text-align: justify;">{!c.Allocated_to__r.Name} will continue as your LSA service planner. If you have any questions, please contact {!c.Allocated_to__r.FirstName} on 1300 880 829 or email {!c.Allocated_to__r.Email}.</div>
            <br />            
            <div style="text-align: justify;">We will continue to work with you to ensure your health and wellbeing is maintained into the future.</div>
            <br />            
            Yours sincerely<br />
            <c:CEOSignature /><br />
            Tomara Tomic<br />
            <span style="font-family: Sans-Serif; font-weight: bold;">
            Chief Executive<br />
            LIFETIME SUPPORT AUTHORITY<br />
            </span>   
            <br />        
            {!DAY(TODAY())}/{!MONTH(TODAY())}/{!YEAR(TODAY())}          
        </apex:define>                                     
    </apex:composition>                                        
</apex:page>