<apex:page controller="AccrualsReportController" title="Accruals Report">
    <apex:pageMessages />
    <style>
        table.report
        {
            width: 100%;            
        }
    
        table.report, table.report th, table.report td
        {
            border-collapse: collapse; 
            border: solid 1px darkgray!important;  
            background-color: white;         
        }
        
        table.report th, table.report td
        {
            padding: 3px;
        }  
        
        td.glCode        
        {
            background-color: lightgray!important;
            font-weight: bold;
        }
        
        th.header
        {
            background-color: lightblue!important;
        }
        
        td.grand, th.grand
        {
            background-color: gray!important;
            color: white!important;
            font-weight: bold;
        } 
                     
        td.value
        {
            text-align: right;
        }
    </style>
    <apex:form >    
    <apex:pageBlock mode="edit">
        <apex:pageBlockButtons location="bottom">
            <a href="{!$Page.AccrualsReport}" target="_top">Full Report</a>
        </apex:pageBlockButtons>
        <apex:pageBlockSection columns="1">            
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="Date Range" />
                <apex:outputText value="{0,date,dd/MM/yyyy} - {1,date,dd/MM/yyyy}">
                    <apex:param value="{!Params.Start_Date__c}" />
                    <apex:param value="{!Params.End_Date__c}" />
                </apex:outputText>                
            </apex:pageBlockSectionItem>                        
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="1">
            <apex:outputPanel layout="block" style="height: 400px; width: 100%; overflow-y: scroll;">
                <table class="report">
                    <tr>
                        <th class="header">GL Code</th>
                        <th class="header">Accrued</th>
                    </tr>  
                    <apex:repeat value="{!clientIds}" var="clientId">
                        <apex:repeat value="{!ReportRows[clientId]}" var="r" >
                            <tr>                        
                                <td>{!r.GLCode}</td>
                                <td class="value"><apex:outputText value="{0,number,$#,###,##0.00}" ><apex:param value="{!r.GrandAmountAccrued}" /></apex:outputText></td>                            
                            </tr>
                        </apex:repeat>
                    </apex:repeat>
                    <apex:variable value="{!GrandTotals}" var="r" />
                    <tr>                        
                        <td class="grand">{!r.GLCode}</td>
                        <td class="grand value"><apex:outputText value="{0,number,$#,###,##0.00}" ><apex:param value="{!r.GrandAmountAccrued}" /></apex:outputText></td>                            
                    </tr>
                </table>                
            </apex:outputPanel>                    
        </apex:pageBlockSection>        
    </apex:pageBlock>
    
    </apex:form>
</apex:page>