<apex:page standardController="Case_Notes__c" title="Case Notes: {!Case_Notes__c.Name}">
    <apex:includeScript value="{!URLFOR($Resource.jQuery)}"/>
    <apex:detail inlineEdit="true" />
    <script>            
        $(document).ready(function()
        {  
            // hide the new note buttons
            var newNotes = document.getElementsByName('newNote');                              
            for (var i = 0; i < newNotes.length; i++)
            {
                newNotes[i].style.display = 'none';
            }
                                                
            // change the related list label
            var headers = document.getElementsByTagName('h3');
            for (var i = 0; i < headers.length; i++)
            { 
                if (headers[i].innerHTML.substring(0, 5) == 'Notes')
                {
                    headers[i].innerHTML = 'Attachments';
                }
            }                        
        });
        
        // change the hover list label
        $('.listHoverLinks').bind("DOMSubtreeModified",function()
        {
            $('.listTitle').each(function()
            {
                if ($(this).html().substring(0, 5) == 'Notes')
                {
                    var newHTML = $(this).html().substring(12);
                    $(this).html(newHTML);               
                }                            
            });        
        });                
    </script>
</apex:page>