<apex:page standardController="Form_Detail__c" extensions="FormDetailEditRedirectExtension" action="{!Redir}" >
    <apex:variable value="{!Form_Detail__c}" var="f" />
    <apex:sectionHeader title="{!f.RecordType.Name}" subtitle="{!IF(ISBLANK(f.Id), 'New Form', f.Name)}" />
    <apex:pageMessages />    
    <script>
        /*
        {!f.Form_Application_Assessment__c}
        {!f.RecordTypeId}
        {!f.RecordType.Name}
        {!f.RecordType.DeveloperName}
        */
    </script>
    <br />
    <apex:form >   
        <apex:commandButton value="Return" action="{!Cancel}" />
    </apex:form>    
</apex:page>