<apex:page id="GPChangePassword"  controller="ChangePasswordController" title="{!$Label.site.change_password}"
           applyHtmlTag="false"
           applyBodyTag="false"
           sidebar="false"
           showHeader="false"
           standardStylesheets="false">
    <apex:composition template="PortalSiteTemplate">
        <apex:define name="title">Change Password</apex:define>
        <apex:define name="content">
            <apex:form id="theForm">
                <apex:pageMessages id="error"/>
                <apex:panelGrid columns="2" style="margin-top:1em;">
                    <apex:outputLabel rendered="{! !$Site.IsPasswordExpired}" value="{!$Label.site.old_password}" for="oldpsw"/>
                    <apex:inputSecret required="true" id="oldpsw" rendered="{! !$Site.IsPasswordExpired}" value="{!oldPassword}"/>
                    <apex:outputLabel value="{!$Label.site.new_password}" for="psw"/>
                    <apex:inputSecret required="true" id="psw" value="{!newPassword}"/>
                    <apex:outputLabel value="{!$Label.site.verify_new_password}" for="vpsw"/>
                    <apex:inputSecret required="true" id="vpsw" value="{!verifyNewPassword}"/>
                    <apex:outputText value=""/>
                    <apex:commandButton id="cpwbtn" action="{!changePassword}" value="{!$Label.site.change_password}" styleClass="button"/>
                </apex:panelGrid>
            </apex:form>
        </apex:define>
    </apex:composition>
</apex:page>