<apex:page id="GPDisclaimer" controller="GrantDislaimerExtension"
           title="LSA Grant Application"
           applyHtmlTag="false"
           applyBodyTag="false"
           sidebar="false"
           showHeader="false"
           standardStylesheets="false"
           action="{!redir}">
    <apex:composition template="PortalSiteTemplate">
        <style>
        </style>
        <apex:define name="title">LSA Grant Application - Disclaimer</apex:define>
        <apex:define name="slider">
        </apex:define>
        <apex:define name="content">
            <style>
                #content
                {
                    margin-top: 0;
                }
            </style>
            <apex:pageBlock >
                <div>
                    Welcome to the Lifetime Support Authority (LSA) Grant Application.
                    <p/>
                    To apply, please fill out the following information and then attach your application form below.
                    You will be given an application number that you can use for future correspondence about your grant application.
                    The LSA will inform you about the result of your Grant application and any next steps once assessed.
                    <p/>
                </div>
            </apex:pageBlock>
            <apex:pageBlock >
                <apex:form >
                    <apex:pageBlockSection >
                        <apex:pageBlockSectionItem >
                            <apex:inputCheckbox ><label class="labelCol">Accept</label>
                                <apex:actionSupport event="onclick" action="{!accept}"  />
                            </apex:inputCheckbox>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </apex:form>
            </apex:pageBlock>
        </apex:define>
    </apex:composition>
</apex:page>