<apex:page id="GrantApplicationAtt1_1" renderAs="pdf" applyBodyTag="false" applyHtmlTag="false" showHeader="false">
    <apex:composition template="GrantApplicationTemplate">
        <apex:define name="head">

        </apex:define>
        <apex:define name="body">
            <div class="heading bold">
                Attachment 1.1 - Proposal
            </div>

        </apex:define>
    </apex:composition>
</apex:page>