<apex:page id="LetterTemplate2PDF" renderAs="html" applyBodyTag="false" applyHtmlTag="false" showHeader="false">
    <head>
        <apex:insert name="head"/>
        <style>
            @page
            {
                size: a4 portrait;
                margin-left: -0.2cm;
                margin-right: -0.2cm;
                margin-bottom: 3.2cm;
                margin-top: 4cm;
                background: url({!URLFOR($Resource.LetterFooterSidebar)}) right bottom no-repeat;

                @top-center
                {
                    content: element(header);
                }
                @bottom-left
                {
                    content: element(footer);
                }
            }

            div.header
            {
                position: running(header);
            }

            div.footer
            {
                position: running(footer);
            }

            body, pre
            {
                font-family: Arial Unicode MS;
                font-size: 11pt;
            }

            table, td
            {
                padding: 0px;
                margin: 0px;
                border-collapse: collapse;
                border-width: 0px;
            }

            table.list td
            {
                vertical-align: top;
            }

            table.bordered, table.bordered td
            {
                border: solid 1px black;
                padding: 3px;
            }

            table.conditions td
            {
                padding-top: 5px;
            }

            table.services td
            {
                vertical-align: top;
                white-space: nowrap;
            }
            td.wrap
            {
                white-space: normal;
            }
        </style>

    </head>

    <div class="header" style="border: solid 1px white; border-top: 0px;">
        <img src="{!URLFOR($Resource.LetterHeader)}" style="width: 100%;" />
    </div>

    <div class="footer" style="margin-left:50px">
        Sensitive: Personal – I2 – A2
    </div>

    <body>
    <div style="width: 15cm; position: absolute; top: 1cm; left: 3cm;">
        <apex:insert name="body"/>
    </div>
    </body>
</apex:page>