<apex:page controller="ParticipantPortalMyRequestsList" applyHtmlTag="false" applyBodyTag="false" sidebar="false" showHeader="false" standardStylesheets="false">
    <apex:composition template="PortalSiteTemplate">
    <apex:define name="title">{!IF($Profile.Name == 'LSA SP Community', 'Requests', 'Contact My Service Planner')}</apex:define> 
    <apex:define name="content">
        <apex:form >
        <apex:pageBlock >
            <apex:commandButton value="New Message" 
                onclick="top.location.href = '{!$Page.ParticipantPortalMyRequestEdit}?retURL={!$Page.ParticipantPortalMyRequests}'; return false;"
                rendered="{!$Profile.Name != 'LSA SP Community'}" />        
            <apex:pageBlockTable value="{!requests}" var="r">
                <apex:column headerValue="Message ID">                   
                    <a href="{!$Page.ParticipantPortalMyRequestView}?id={!r.Id}">{!r.Name}</a>                   
                </apex:column>            
                <apex:column value="{!r.Client__r.Name}" headerValue="Client"  rendered="{!$Profile.Name == 'LSA SP Community'}"/>    
                <apex:column value="{!r.CreatedDate}" headerValue="Created" />
                <apex:column headerValue="Message Details" value="{!r.Request_Details__c}"/>
                <apex:column value="{!r.Status__c}"/>
            </apex:pageBlockTable>
        </apex:pageBlock>
        </apex:form>
    </apex:define>
   </apex:composition>
</apex:page>