<apex:page standardController="Plan_Action__c" applyHtmlTag="false" applyBodyTag="false" sidebar="false" showHeader="false" standardStylesheets="false">
    <apex:composition template="PortalSiteTemplate">
   	<apex:define name="title">Plan Action - {!Plan_Action__c.Name}</apex:define> 
   	<apex:define name="content">
   	<script>
   	$(function(){
   		$('.dataCol a:first').attr('href',$('.dataCol a:first').attr('href').replace('/', '/participantportalmyplan?id='));
   		$('.dataCol a:eq(1)').attr('href',$('.dataCol a:eq(1)').attr('href').replace('/', '/participantportalmydetails?id='));

         $('.dataCol a:eq(2)').contents().unwrap();

   		$('#menu-item-206').addClass('current_page_item');
   	});
   	</script>
   		<apex:detail />
   	</apex:define>
   </apex:composition>
</apex:page>