<apex:page standardController="Plan__c" extensions="DeliveryPlanInformationExtension" title="My Plan" applyHtmlTag="false" applyBodyTag="false" sidebar="false" showHeader="false" standardStylesheets="false">
   <apex:composition template="PortalSiteTemplate">
      <apex:define name="title">My Plan</apex:define>
      <apex:define name="content">
          <p>My Plan is the plan that documents your assessed ongoing treatment, care and support needs and is prepared by you and the LSA.</p>

            <apex:detail title="false" relatedList="false" />
            <apex:relatedList list="Plan_Goals__r" pageSize="30" id="planGoals" />
            <!--<apex:relatedList list="Plan_Actions__r" pageSize="30" />-->
          <apex:pageBlock >
            <h3>Plan Actions</h3>
            <apex:pageBlockTable var="pa" value="{!MyPlanActions}" styleClass="listRelatedObject customnotabBlock" rowClasses="zen-deemphasize" >
                <apex:column headerValue="{!$ObjectType.Plan_Action__c.fields.Name.label}" >
                    <apex:outputLink value="{!URLFOR($Action.Plan_Action__c.View, pa.ID)}">{!pa.Name}</apex:outputLink>
                </apex:column>
                <apex:column value="{!pa.Recently_Updated__c}" width="10%" style="text-align:center;"/>
                <apex:column value="{!pa.Pre_Defined_Services__c}" />
                <apex:column value="{!pa.Item_Description__c}" />
                <apex:column value="{!pa.Provider_Display__c}" />
            </apex:pageBlockTable>
          </apex:pageBlock>
            <script>
              $(function(){
                $('.dataCol:nth-child(2) a').contents().unwrap();
                $('.dataCell:nth-child(5) a').contents().unwrap();

                if(window.location.href.indexOf($('.menu-item-101 a').attr('href'))>0)
                  $('.menu-item-101').addClass('current_page_item');
                else
                  $('.menu-item-206').addClass('current_page_item');

                $('.pbSubheader h3').each(function(){
                   if($(this).text() == 'How to Meet Goals:')
                    $(this).before($('div[id$=planGoals]'));
                   else if ($(this).text() == 'Emergency Information:')
                    $(this).before($('#deliveryPlan'));
                 });
              });
            </script>
            <div id="deliveryPlan">
                <div class="pbSubheader brandTertiaryBrd tertiaryPalette"><h3>Delivery Plan Information:</h3><h4 style="color: #d52b1e;font-size: small;line-height: 2em;">The following information is relevant to Attendant Care Only</h4></div>
                <div class="pbSubsection">
                  <table class="detailList" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td class="labelCol">Attendant Care and Support Goals</td>
                        <td class="data2Col" colspan="3">{!IF(ISBLANK(PlanAction.Plan_Goal__r.Name), '', PlanAction.Plan_Goal__r.Name + ' - ')}{!PlanAction.Plan_Goal__r.Goal_Details__c}</td>
                      </tr>
                      <tr>
                        <td class="labelCol">About Participant</td>
                        <td class="data2Col" colspan="3">{!PlanAction.About_Participant__c}</td>
                      </tr>
                      <tr>
                        <td class="labelCol">Objectives and Outcomes</td>
                        <td class="data2Col" colspan="3">{!PlanAction.Objectives_and_Outcomes_of_the_Service__c}</td>
                      </tr>
                      <tr>
                        <td class="labelCol">Service Delivery Matters</td>
                        <td class="data2Col" colspan="3">{!PlanAction.Service_Delivery_Matters__c}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
      </apex:define>
   </apex:composition>
</apex:page>