<apex:page standardController="Plan__c" title="{!Plan__c.RecordType.Name}: {!Plan__c.Name}">    
    <apex:sectionHeader title="{!Plan__c.RecordType.Name}" subtitle="{!Plan__c.Client__r.Name} ({!Plan__c.Name})" />
    <apex:detail inlineEdit="true" title="false" />
    <apex:includeScript value="//code.jquery.com/jquery-1.11.3.min.js" />
    <script>

        $(function(){
            $('.bRelatedList[id*={!$Setup.Environment_IDs__c.Plan_Action_Participant_Plan__c}] .actionColumn a').each(function(index, item){
                var fnonclick = $(item).attr('onclick');
                $(item).attr('onclick','');

                $(item).click(function(){
                    var planApprovals = sforce.apex.execute("PlanApprovalService","selectByPlanId",{PlanId:'{!Plan__c.Id}'});

                    var result = true;
                    if(fnonclick)
                    {
                        result = confirmDelete();
                    }
                    if(planApprovals[0])
                    {

                        if(confirm('There is a plan approval in progress would you like to recall this?'))
                        {
                           var planApproval = JSON.parse(planApprovals[0]);

                           sforce.apex.execute("PlanApprovalService","recall",{planApproval:JSON.stringify( planApproval)});

                        }
                        else
                        {
                            result = false;
                        }
                    }
                    return result;
                });
            });
        });       
    </script>

    <apex:outputPanel rendered="{!Plan__c.RecordType.DeveloperName == 'MyPlan'}" >
        <c:ParticipantContacts ParticipantId="{!Plan__c.Client__c}" />

        <div style="height: 15px;" id="goals" />
        <div style="height: 15px;" id="planActions" />
        <div style="height: 15px;" id="planApprovals" />
        <script>                             
            $("[title='DeliveryPlanInformation']").load(function()
            {            
                this.height = this.contentWindow.document.body.scrollHeight + "px";
               
                // remove the padding on the parent td
                $(this).parent().css('padding-left', '0px');
                $(this).parent().css('padding-top', '15px');
            });  
            
            // this puts the goals header and related list before How to Meet Goals          
            $('#head_{!$Setup.Environment_IDs__c.ParticipantPlanView_How_to_Meet_Goals__c}_ep_j_id0_j_id2').before($('#goals')); 
            $('#head_{!$Setup.Environment_IDs__c.ParticipantPlanView_How_to_Meet_Goals__c}_ep_j_id0_j_id2').before($('#j_id0_j_id2_{!LEFT(Plan__c.Id, 15)}_{!$Setup.Environment_IDs__c.Plan_Goal_Participant_Plan__c}'));    
            
            // this puts the plan actions header and related list before System Information    
            $('#head_{!$Setup.Environment_IDs__c.ParticipantPlanView_System_Information__c}_ep_j_id0_j_id2').before($('#planActions')); 
            $('#head_{!$Setup.Environment_IDs__c.ParticipantPlanView_System_Information__c}_ep_j_id0_j_id2').before($('#j_id0_j_id2_{!LEFT(Plan__c.Id, 15)}_{!$Setup.Environment_IDs__c.Plan_Action_Participant_Plan__c}'));   
            
            // this puts the plan approvals header and related list before System Information    
            $('#head_{!$Setup.Environment_IDs__c.ParticipantPlanView_System_Information__c}_ep_j_id0_j_id2').before($('#planApprovals')); 
            $('#head_{!$Setup.Environment_IDs__c.ParticipantPlanView_System_Information__c}_ep_j_id0_j_id2').before($('#j_id0_j_id2_{!LEFT(Plan__c.Id, 15)}_{!$Setup.Environment_IDs__c.Plan_Approval_Participant_Plan__c}'));

            $('#goals').after($('div [id$=decisionContacts]'));
            $('div [id$=decisionContacts]').after($('div [id$=emergencyContacts]'));
        </script>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!Plan__c.RecordType.DeveloperName == 'Discharge_Plan'}" >        
        <script>                                      
            $("[title='ParticipantForms']").load(function()
                this.height = (this.contentWindow.document.body.scrollHeight + 10) + "px";
               
                // remove the padding on the parent td
                $(this).parent().css('padding-left', '0px');                
            });
        </script>
    </apex:outputPanel>
</apex:page>