<apex:page controller="RCRBulkRolloverApproval" tabStyle="RCR__tab">
    <apex:includeScript value="{!$Resource.jQuery}"/>
    <style>
        .cntr {
            text-align:center;
        }
        .right {
            text-align:right;
        }
        .red {
            color:#FF0000 !important;
        }
        .green {
            color:#009900 !important;
        }
        .hide {
            display:none;
        }
        .btn {
            text-decoration:none !important;
            padding: 4px 3px !important;
            margin-left:10px !important;
        }
    </style>
    
    <script>
        function checkAll(cb, checkboxes)
        {     
            var selector;
            var chkBoxes;
            var otherChkBox;
            
            if(cb.title == 'ApproveOnceAll')
            {
                selector = 'input[id$="appOnce"]'; 
                chkBoxes = $(selector);

                for(i=0; i < chkBoxes.length; i++)
                {
                    chkBoxes[i].checked = cb.checked;
                    if('{!ActionType}' != 'CSAApproval')
                    {
                        toggleOption(chkBoxes[i], i + 1);
                    }
                }
                
                if('{!ActionType}' != 'CSAApproval' && cb.checked)
                {
                    // Uncheck the ApproveRecurrentAll checkbox.
                    selector = 'input[title$="ApproveRecurrentAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                    
                    // Uncheck the ReduceAll checkbox.
                    selector = 'input[title$="ReduceAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                    
                    // Uncheck the FindAltProviderAll checkbox
                    selector = 'input[title$="FindAltProviderAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                }
            }
            else if(cb.title == 'ApproveRecurrentAll')
            {
                selector = 'input[id$="appRecur"]'; 
                chkBoxes = $(selector);

                for(i=0; i < chkBoxes.length; i++)
                {
                    chkBoxes[i].checked = cb.checked;
                    toggleOption(chkBoxes[i], i + 1);
                }
                
                if(cb.checked)
                {
                    // Uncheck the ApproveOnceAllcheckbox.
                    selector = 'input[title$="ApproveOnceAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                    
                    // Uncheck the ReduceAll checkbox.
                    selector = 'input[title$="ReduceAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                    
                    // Uncheck the FindAltProviderAll checkbox
                    selector = 'input[title$="FindAltProviderAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                }
            }
            else if(cb.title == 'ReduceAll')
            {
                selector = 'input[id$="red"]'; 
                chkBoxes = $(selector);

                // Check all of the Reduce checkboxes.
                for(i=0; i < chkBoxes.length; i++)
                {
                    chkBoxes[i].checked = cb.checked;
                    
                    // toggle the other checkboxes off.
                    toggleOption(chkBoxes[i], i + 1);
                }
                
                if(cb.checked)
                {
                    // Uncheck the ApproveAll checkbox.
                    selector = 'input[title$="ApproveOnceAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                    
                    // Uncheck the ApproveRecurrentAll checkbox.
                    selector = 'input[title$="ApproveRecurrentAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                    
                    // Uncheck the FindAltProviderAll checkbox
                    selector = 'input[title$="FindAltProviderAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                }
            }
            else if(cb.title == 'FindAltProviderAll')
            {
                selector = 'input[id$="alt"]'; 
                chkBoxes = $(selector);

                // Check all of the FindAltProvider checkboxes.
                for(i=0; i < chkBoxes.length; i++)
                {
                    chkBoxes[i].checked = cb.checked;
                    
                    // toggle the other checkboxes off.
                    toggleOption(chkBoxes[i], i + 1);
                }
                
                if(cb.checked)
                {
                    // Uncheck the ApproveAll checkbox.
                    selector = 'input[title$="ApproveOnceAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                    
                    // Uncheck the ApproveRecurrentAll checkbox.
                    selector = 'input[title$="ApproveRecurrentAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                    
                    // Uncheck the ReduceAll checkbox.
                    selector = 'input[title$="ReduceAll"]';
                    otherChkBox = $(selector);
                    otherChkBox[0].checked = false;
                }
            }
        }
        
        function toggleOption(cb, rowNum)
        {
            var selector;
            //var selector2;
            var otherCb1;
            var otherCb2;
            var otherCb3;
            var selectAllChkBox;
            
            if(cb.title == 'ApproveOnceOff')
            {
                selector = 'input[id$="' + (rowNum - 1) + ':appRecur' + '"]'; 
                otherCb1 = $(selector);
                
                selector = 'input[id$="' + (rowNum - 1) + ':red' + '"]'; 
                otherCb2 = $(selector);
                
                selector = 'input[id$="' + (rowNum - 1) + ':alt' + '"]';
                otherCb3 = $(selector);
                
                if(cb.checked)
                {
                    otherCb1[0].checked = !cb.checked;
                    otherCb2[0].checked = !cb.checked;
                    otherCb3[0].checked = !cb.checked;
                    
                    selector = 'input[title$="ApproveRecurrentAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                    
                    selector = 'input[title$="ReduceAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                    
                    selector = 'input[title$="FindAltProviderAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                }
                else
                {
                    selector = 'input[title$="ApproveOnceAll"]';
                    selectAllChkBox = $(selector1);
                    selectAllChkBox[0].checked = false;
                }
            }
            else if(cb.title == 'ApproveRecurrent')
            {
                selector = 'input[id$="' + (rowNum - 1) + ':appOnce' + '"]'; 
                otherCb1 = $(selector);
                
                selector = 'input[id$="' + (rowNum - 1) + ':red' + '"]'; 
                otherCb2 = $(selector);
                
                selector = 'input[id$="' + (rowNum - 1) + ':alt' + '"]';
                otherCb3 = $(selector);
                
                if(cb.checked)
                {
                    otherCb1[0].checked = !cb.checked;
                    otherCb2[0].checked = !cb.checked;
                    otherCb3[0].checked = !cb.checked;
                    
                    selector = 'input[title$="ApproveOnceAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                    
                    selector = 'input[title$="ReduceAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                    
                    selector = 'input[title$="FindAltProviderAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                }
                else
                {
                    selector = 'input[title$="ReduceAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                }
            }
            else if(cb.title == 'Reduce')
            {
                selector = 'input[id$="' + (rowNum - 1) + ':appOnce' + '"]'; 
                otherCb1 = $(selector);
                
                selector = 'input[id$="' + (rowNum - 1) + ':appRecur' + '"]'; 
                otherCb2 = $(selector);
                
                selector = 'input[id$="' + (rowNum - 1) + ':alt' + '"]';
                otherCb3 = $(selector);
                
                if(cb.checked)
                {
                    otherCb1[0].checked = !cb.checked;
                    otherCb2[0].checked = !cb.checked;
                    otherCb3[0].checked = !cb.checked;
                    
                    selector = 'input[title$="ApproveOnceAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                    
                    selector = 'input[title$="ApproveRecurrentAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                    
                    selector = 'input[title$="FindAltProviderAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                }
                else
                {
                    selector = 'input[title$="ReduceAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                }
            }
            else if(cb.title == 'FindAltProvider')
            {
                selector = 'input[id$="' + (rowNum - 1) + ':appOnce' + '"]';
                otherCb1 = $(selector);
                
                selector = 'input[id$="' + (rowNum - 1) + ':appRecur' + '"]';
                otherCb2 = $(selector);
                
                selector = 'input[id$="' + (rowNum - 1) + ':red' + '"]';
                otherCb3 = $(selector);
                
                if(cb.checked)
                {
                    otherCb1[0].checked = !cb.checked;
                    otherCb2[0].checked = !cb.checked;
                    otherCb3[0].checked = !cb.checked;
                    
                    selector = 'input[title$="ApproveOnceAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                    
                    selector = 'input[title$="ApproveRecurrentAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                    
                    selector = 'input[title$="ReduceAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                }
                else
                {
                    selector = 'input[title$="FindAltProviderAll"]';
                    selectAllChkBox = $(selector);
                    selectAllChkBox[0].checked = false;
                }
            }
        }
    </script>
    
    <apex:pageMessages id="msgs"/>
    <apex:actionStatus onstart="showWaitNotify();" onstop="hideWaitNotify();" id="busy" /> 
    <c:WaitNotify />
    <c:RCRPageHeader recordType="{!IF(ActionType = 'CSAApproval', 'CSA Approvals', 'Rollover Approvals')}" 
            recordName="{!IF(ActionType = 'CSAApproval', 'CSA Approvals','Approval of Rollovers and Allocation Adjustments')}" 
            contextName="RCR" 
            contextLink="apex/RCR" 
            helpTopic=""/>     
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection title="Select Records" collapsible="false">
                <apex:pageBlockSectionItem rendered="{!ActionType = 'CSAApproval'}">
                    <apex:outputLabel value="Client / Group"/>
                    <apex:inputText value="{!Client}" style="width:195px"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!ActionType = 'CSAApproval'}">
                    <apex:outputLabel value="Client Number"/>
                    <apex:inputText value="{!CCMSID}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Service Provider"/>
                    <apex:panelGroup >
                        <apex:outputPanel id="accList">
                            <apex:selectList id="accts" value="{!SelectedAccount}" size="1" style="width:200px">
                                <apex:selectOptions value="{!AccountsWithRollovers}"/>
                            </apex:selectList>
                        </apex:outputPanel>
                        <apex:commandButton value="Search" 
                                action="{!doSearch}" 
                                style="margin-left:30px" 
                                status="busy"
                                reRender="msgs,results"/>
                    </apex:panelGroup>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="{!IF(ActionType = 'CSAApproval', 'Service Orders for Approval', 'Rollovers for Approval')}" columns="1" collapsible="false">
                <apex:outputPanel id="results">
                    <apex:pageBlockTable id="soList" value="{!Rollovers}" var="w"  headerClass="cntr">
                        <apex:column styleClass="cntr" 
                                headerClass="cntr" 
                                rendered="{!CanCSAApprove || ActionType = 'BulkRollover'}">
                            <apex:facet name="header">
                                <label style="{!IF(ActionType = 'CSAApproval', '', 'display:none')}">Approve</label>
                                <label style="{!IF(ActionType = 'BulkRollover', '', 'display:none')}">Approve<br/>Once Off</label>                                                  
                                <br/>
                                <input type="checkbox" title="ApproveOnceAll" onclick="checkAll(this, 'ApproveOnceOff');" immediate="true"></input>
                            </apex:facet>
                            <apex:inputCheckbox title="ApproveOnceOff" value="{!w.ApprovedOnceOff}" id="appOnce" onclick="toggleOption(this, this.parentNode.parentNode.rowIndex);"/>
                        </apex:column>
                        <apex:column styleClass="cntr"
                                 rendered="{!ActionType = 'BulkRollover'}">
                            <apex:facet name="header">
                                Approve<br/>Recurrent
                                <br/>
                                <input type="checkbox" title="ApproveRecurrentAll" onclick="checkAll(this, 'ApproveRecurrent');" immediate="true"></input>
                            </apex:facet>
                            <apex:inputCheckbox title="ApproveRecurrent" value="{!w.ApprovedRecurrent}" id="appRecur" onclick="toggleOption(this, this.parentNode.parentNode.rowIndex);"/>
                        </apex:column>
                        <apex:column styleClass="cntr" 
                                headerClass="cntr"
                                rendered="{!ActionType = 'BulkRollover'}">
                            <apex:facet name="header">
                                Reduce<br/>Services
                                <br/>
                                <input type="checkbox" title="ReduceAll" onclick="checkAll(this, 'Reduce');" immediate="true"></input>
                            </apex:facet>
                            <apex:inputCheckbox title="Reduce" value="{!w.ReduceServices}" id="red" onclick="toggleOption(this, this.parentNode.parentNode.rowIndex);"/>
                        </apex:column>
                        <apex:column styleClass="cntr" 
                                rendered="{!ActionType = 'BulkRollover'}">
                            <apex:facet name="header">
                                Identify Lower<br/>Cost Provider
                                <br/>
                                <input type="checkbox" title="FindAltProviderAll" onclick="checkAll(this, 'FindAltProvider');" immediate="true"></input>
                            </apex:facet>
                            <apex:inputCheckbox title="FindAltProvider" value="{!w.UseAlternateProvider}" id="alt" onclick="toggleOption(this, this.parentNode.parentNode.rowIndex);"/>
                        </apex:column>
                        <apex:column styleClass="cntr">
                            <apex:outputLink value="/{!w.ServiceOrder.Id}" target="ServiceOrder" >{!w.ServiceOrder.Name}</apex:outputLink>
                            <apex:facet name="header">                                
                                <label style="{!IF(ActionType = 'CSAApproval', '', 'display:none')}">Service<br/>Order</label>
                                <label style="{!IF(ActionType = 'BulkRollover', '', 'display:none')}">Rollover<br/>Request</label>
                            </apex:facet>
                        </apex:column>
                        <apex:column headerValue="Client/Program">
                            <apex:outputLink value="/{!w.ServiceOrder.Client__c}" target="Client" >{!w.ServiceOrder.Client__r.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column value="{!w.ServiceOrder.Client__r.CCMS_ID__c}" headerValue="Client Number"/>
                        <apex:column value="{!w.ServiceOrder.Start_Date__c}" headerValue="Start Date"/>
                        <apex:column value="{!w.ServiceOrder.End_Date__c}" headerValue="End Date" footerValue="Totals:" footerClass="right"/>
                        <apex:column styleClass="right" 
                                headerValue="{!IF(ActionType = 'BulkRollover', 'Original Cost', 'Rollover Value')}" 
                                footerClass="right">

                            <apex:outputText value="{0, number, currency}">
                                <apex:param value="{!IF(ActionType = 'BulkRollover', w.ServiceOrder.Orig_Cost__c, w.ServiceOrder.Source_Record__r.Total_Service_Order_Cost__c)}"/>
                            </apex:outputText>

                            <apex:facet name="footer">
                                <apex:outputText value="{0, number, currency}">  
                                    <apex:param value="{!Totals.TotalOriginalCost}"/>
                                </apex:outputText>
                            </apex:facet>
                        </apex:column>
                        <apex:column value="{!w.ServiceOrder.Total_Service_Order_Cost__c}" styleClass="right" footerClass="right">
                            <apex:facet name="header">
                                New<br/>Total Cost
                            </apex:facet>

                            <apex:facet name="footer">
                                <apex:outputText value="{0, number, currency}">
                                    <apex:param value="{!Totals.TotalNewCost}"/>
                                </apex:outputText>
                            </apex:facet>
                        </apex:column>
                        <apex:column headerValue="Cost Variation" styleClass="right" footerClass="right" rendered="{!ActionType = 'CSAApproval'}">
                            <apex:outputText value="{0, number, currency}">
                                <apex:param value="{!w.ServiceOrder.Total_Service_Order_Cost__c - IF(ActionType = 'BulkRollover', w.ServiceOrder.Orig_Cost__c, w.ServiceOrder.Source_Record__r.Total_Service_Order_Cost__c)}"/>
                            </apex:outputText>
                            
                            <apex:facet name="footer">
                                <apex:outputText value="{0, number, currency}">
                                    <apex:param value="{!Totals.TotalNewCost - Totals.TotalOriginalCost}"/>
                                </apex:outputText>
                            </apex:facet>
                        </apex:column>
                        <apex:column headerValue="Total Allocation" 
                                styleClass="right" 
                                footerClass="right"
                                rendered="{!ActionType = 'BulkRollover'}">
                            <apex:outputText value="{0, number, currency}">
                                <apex:param value="{!w.TotalAllocation}"/>
                            </apex:outputText>

                            <apex:facet name="footer">
                                <apex:outputText value="{0, number, currency}">
                                    <apex:param value="{!Totals.TotalAllocation}"/>
                                </apex:outputText>
                            </apex:facet>
                        </apex:column>
                        <apex:column styleClass="right {!IF(NULLVALUE(w.AllocationDiff, 0) < 0, 'red', 'green')}" 
                                headerClass="cntr" 
                                footerClass="right {!IF(Totals.TotalAllocationVariation < 0, 'red', 'green')}"
                                rendered="{!ActionType = 'BulkRollover'}">
                            <apex:outputText value="{0, number, currency}">
                                <apex:param value="{!w.AllocationDiff}"/>
                            </apex:outputText>
                            
                            <apex:facet name="header">
                                Cost and<br/>Allocation Variation
                            </apex:facet>
 
                            <apex:facet name="footer">
                                <apex:outputText value="{0, number, currency}">
                                    <apex:param value="{!Totals.TotalAllocationVariation}"/>
                                </apex:outputText>
                            </apex:facet>
                        </apex:column>
                        <apex:column value="{!w.PercentageAllocationShortfall}" 
                                styleClass="cntr {!IF(NULLVALUE(w.AllocationDiff, 0) < 0, 'red', 'green')}" 
                                headerClass="cntr" 
                                footerClass="cntr red"
                                rendered="{!ActionType = 'BulkRollover'}">
                            <apex:facet name="header">
                                Allocation<br/>Shortfall
                            </apex:facet>

                            <apex:facet name="footer">
                                {!Totals.TotalPercentageAllocationShortfall}
                            </apex:facet>
                        </apex:column>
                    </apex:pageBlockTable>
                    <script>
                        var dataTable = document.getElementById('{!$Component.soList}');
                    </script>
                </apex:outputPanel>
            </apex:pageBlockSection>
            
            <apex:commandButton value="Bulk Approve" 
                    action="{!approve}" 
                    status="busy"
                    rendered="{!ActionType = 'CSAApproval' && CanCSAApprove}"/>
            <apex:commandButton value="Save"
                    action="{!saveOverride}"
                    status="busy"
                    rendered="{!ActionType = 'BulkRollover' && CanRolloverRecommend}" 
                    reRender="msgs,results"/>
            <apex:commandButton value="Approve / Reject" 
                    action="{!approveRejectRollover}"
                    status="busy" 
                    rendered="{!ActionType = 'BulkRollover' && CanRolloverApprove}" 
                    reRender="msgs,accList,results"/>
            <apex:commandButton value="Cancel" action="{!cancel}"/>
        </apex:pageBlock>
    </apex:form>
</apex:page>