<apex:page standardController="RCR_Group_Agreement__c" 
        extensions="RCRGroupAgreementExtension" applyBodyTag="true">
    <head>
        <base target="_parent" />
    </head>
    <style>
        table
        {
            font-size: {!IF(InPortal, '11px' , '12px')} !important;
        }
    </style>
    <apex:stylesheet value="{!URLFOR($Resource.A2HCStyle)}"/>
    <apex:pageBlock rendered="{!NOT(InPortal)}" title="RCR New Requests in Progress" >
        <apex:pageBlockTable value="{!Requests}" 
                var="so" 
                rowClasses="odd,even" 
                cellPadding="3">                
            <apex:column styleClass="actionColumn" >
                 <apex:outputLink value="{!URLFOR($Action.RCR_Contract__c.Edit, so.ID, [retURL=RCR_Group_Agreement__c.ID])}" 
                         target="_parent"
                         styleClass="actionLink">
                     Edit
                 </apex:outputLink>
                 |
                 <apex:outputLink value="{!URLFOR($Action.RCR_Contract__c.Delete, so.ID)}"
                         target="_parent" 
                         styleClass="actionLink">
                     Del
                 </apex:outputLink>
            </apex:column> 
           <apex:column headerValue="Request" >
                <apex:outputLink value="{!URLFOR($Action.RCR_Contract__c.View, so.ID)}" 
                        target="_parent"
                        styleClass="actionLink">
                     {!so.Name}
                 </apex:outputLink>
            </apex:column> 
            <apex:column headerValue="Client">
                <apex:outputField value="{!so.Client__c}"  />
            </apex:column>  
            <apex:column value="{!so.RecordType.Name}" headerValue="Type"/>
            <apex:column value="{!so.Start_Date__c}" />
            <apex:column value="{!so.Original_End_Date__c}" />
            <apex:column value="{!so.Cancellation_Date__c}" />
            <apex:column value="{!so.Total_Adhoc_Activity_Cost__c}" styleClass="rightAlign"/>
            <apex:column value="{!so.Total_Scheduled_Service_Cost__c}" styleClass="rightAlign"/>
            <apex:column value="{!so.Total_Service_Order_Cost__c}" styleClass="rightAlign"/>
            <!--<apex:column headerValue="Amendment Cost Difference" styleClass="rightAlign">
                <apex:outputField value="{!so.Amendment_Cost_Difference__c}"                    
                    rendered="{!so.RecordType.Name == 'Amendment'}" />
            </apex:column>-->
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>