<apex:page standardController="Form_Detail__c" extensions="FormDetailEditExtension" title="{!Form_Detail__c.RecordType.Name}: {!Form_Detail__c.Name}">
    <apex:variable value="{!Form_Detail__c}" var="fd" />
    <apex:sectionHeader subtitle="{!fd.RecordType.Name}" title="{!fd.Name}" />
    <apex:pageMessages />
    <script>
        /*
        {!fd.Form_Application_Assessment__r.Client__c}
        {!fd.Form_Application_Assessment__r.Client__r.Age__c}
        {!fd.Form_Application_Assessment__r.Client__r.Allocated_to__c}
        {!fd.Manager_ASD_Complete__c}        
        {!fd.Status__c}
        {!fd.RecordType.Name}
        {!fd.RecordType.DeveloperName}
        */
    </script>
    <c:FormStyles /> 
    <apex:form >
    <apex:pageBlock title="Application Assessment - Service Planner" mode="edit">
        <apex:pageBlockButtons >
            <apex:commandButton value="Save" action="{!SaveOverride}" />
            <apex:commandButton value="Cancel" action="{!Cancel}" />
        </apex:pageBlockButtons>
        
        <apex:pageBlockSection showHeader="false" >
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="Participant" />
                <apex:outputPanel > 
                    <a href="/{!fd.Form_Application_Assessment__r.Client__c}" >{!fd.Form_Application_Assessment__r.Client__r.Name} (DOB: <apex:outputField value="{!fd.Form_Application_Assessment__r.Client__r.Date_Of_Birth__c}" />)</a>                                           
                </apex:outputPanel>
            </apex:pageBlockSectionItem>
            <apex:outputField value="{!fd.Form_Application_Assessment__r.Client__r.Allocated_to__c}" />  
            <apex:outputField value="{!fd.Form_Application_Assessment__c}" />         
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Assessment Checklist" columns="1">
            <apex:inputField value="{!fd.Accident_reported_to_police__c}" />
            <apex:inputField value="{!fd.Proof_of_identity_attached__c}" />
            <apex:inputField value="{!fd.Consent_Authorisation_Declaration_Comp__c}" label="Consent Authorisation/Declaration Completed?" />
            <apex:inputField value="{!fd.LSA_Medical_Certificate_attached__c}" />
            <apex:inputField value="{!fd.FIM_by_accredited_assessor__c}" />
            <apex:inputField value="{!fd.Name_of_assessor__c}" />
            <apex:inputField value="{!fd.Applicant_is_injured_person_or_insurer__c}" />
            <apex:inputField value="{!fd.Lawful_authority_type__c}" />
            <apex:inputField value="{!fd.Injuries_confirmed_by_specialist__c}" />
            <apex:inputField value="{!fd.Applicant_role_in_accident__c}" />
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Injury">
            <apex:inputField value="{!fd.Bodily_Injury_Sustained__c}" />
        </apex:pageBlockSection>
        
        <c:MedicalInformation f="{!LatestMedicalCertificate}" />
                
        <c:FIMInformation f="{!LatestFIMScoreSheet}" />
        
        <apex:pageBlockSection title="Accident" columns="1">
            <apex:inputField value="{!fd.Injury_arose_out_of_use_of_motor_vehicle__c}" />    
            <apex:inputField value="{!fd.Accident_occurred_in_South_Australia__c}" />
            <apex:inputField value="{!Client.SAPOL_Vehicle_Collision_Report_Number__c}" />
            <apex:inputField value="{!Client.Date_of_Accident__c}" />            
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="Time of Accident" />
                <apex:outputPanel >                    
                    <table style="border-collapse: collapse;">
                        <tr>
                            <td style="border-collapse: collapse;"><apex:inputField value="{!Client.Time_of_accident_hours__c}" id="accHours" /></td>
                            <td style="border-collapse: collapse;">:&nbsp;</td>
                            <td style="border-collapse: collapse;"><apex:inputField value="{!Client.Time_of_accident_minutes__c}" id="accMins" /></td>
                        </tr>    
                    </table>
                    <script>
                        document.getElementById('{!$Component.accHours}').options[0].text = '';  
                        document.getElementById('{!$Component.accMins}').options[0].text = '';  
                    </script>                    
                </apex:outputPanel>
            </apex:pageBlockSectionItem>            
            <apex:inputField value="{!Client.Location_of_Accident__c}" />
            <apex:inputField value="{!Client.Postcode_where_accident_occurred__c}" />
            <apex:inputField value="{!Client.Accident_Description__c}" style="width: 300px;" />
        </apex:pageBlockSection>       
        <!--<c:AccidentInformation f="{!LatestApplicationForm}" />-->
                
        <c:CTPInformation f="{!LatestApplicationForm}" />                
                        
        <apex:pageBlockSection title="Assessment" columns="1" collapsible="false">
            <apex:inputField value="{!fd.Injury_meets_criteria_set_out_in_rules__c}" />
            <apex:inputField value="{!fd.Service_Planner_Recommendation__c}" style="width: 300px;" />
            <apex:inputField value="{!fd.Service_Planner_Complete__c}" />            
            <apex:inputField value="{!fd.Completed_By__c}" />            
        </apex:pageBlockSection>
                                        
    </apex:pageBlock>
    </apex:form>
</apex:page>