<apex:page title="Contracts" controller="SPPortalParticipantsController" applyHtmlTag="false" applyBodyTag="false" sidebar="false" showHeader="false" standardStylesheets="false" action="{!search}">
	<c:WaitNotify />
	<apex:actionStatus onstart="showWaitNotify();" onstop="hideWaitNotify();" id="busy" />
    <apex:composition template="PortalSiteTemplate">
    	<apex:define name="title">Contracts</apex:define>
        <apex:define name="content">
        	<script>
		    	$(function()
		    	{
		    		$('#stDtFrom').datepicker(
	    			{
	    				altField: ".vfStDtFrom",
	    				dateFormat: 'dd/mm/yy',
				      	changeMonth: true,
  						changeYear: true
	    			});
		    		$('#stDtTo').datepicker(
	    			{
	    				altField: ".vfStDtTo",
	    				dateFormat: 'dd/mm/yy',
				      	changeMonth: true,
  						changeYear: true
	    			});

	    			$(document).ready(function()
    				{	
    					$('#stDtTo').val('{!StartDateDefault}');
    				});
		    	});

		    	function clearSearch()
		    	{
		    		$('input:not(.btn)').val('');
		    	}
	    	</script>
	    	<style>
	    		.btn 
	    		{
	    			background-color: #bd5319!important;
	    			height: 100%;
	    			width: 100px;
	    			color: #FFF;
	    			margin-top: 10px;
	    		}
	    		#ui-datepicker-div
	    		{
	    			z-index: 9001 !important;
	    		}
	    	</style>
            <apex:form >
            	<apex:pageBlock >
		            <apex:pageBlockSection title="Search" columns="2" collapsible="false" id="srchSect">
		            	<apex:inputCheckbox label="Current Contracts" value="{!CurrentContracts}"/>
		            	<apex:pageBlockSectionItem />
		            	<apex:inputText value="{!StartDateFrom}" styleClass="vfStDtFrom" style="display:none;"/>
		            	<apex:inputText value="{!StartDateTo}" styleClass="vfStDtTo" style="display:none;"/>
		            	<apex:pageBlockSectionItem >
		            		<apex:outputLabel value="Start Date From" />
			            	<input type="text" class="dtInput" id="stDtFrom"/>
			            </apex:pageBlockSectionItem>
			            <apex:pageBlockSectionItem >
		            		<apex:outputLabel value="Start Date To" />
			            	<input type="text" class="dtInput" id="stDtTo" />
			            </apex:pageBlockSectionItem>
		            	<apex:inputText label="Particpant" value="{!ParticipantSearch}" />
		            	<apex:pageBlockSectionItem />
		            	<apex:outputPanel >
			            	<apex:commandButton action="{!search}" value="Search" rerender="cntrctTbl" styleClass="btn submit" status="busy"/>
			            </apex:outputPanel>
		            </apex:pageBlockSection>
		            <apex:outputPanel id="cntrctTbl">
			            <apex:pageBlockSection title="Results ({!Contracts.size})" columns="1" collapsible="false">
			            	<apex:outputPanel layout="block" rendered="{!Contracts.size == 0}">
			            		No contracts found
			            	</apex:outputPanel>
			            	<apex:pageBlockTable value="{!Contracts}" var="c" rendered="{!Contracts.size > 0}">
			            		<apex:column headerValue="Contract ID">
			            			<apex:outputLink value="{!URLFOR($Page.SPPortalContract, null, [id=c.ID])}">
			            				{!c.Name}
			            			</apex:outputLink> 
			            		</apex:column>
			            		<apex:column value="{!c.Client_Name__c}" />
			            		<apex:column value="{!c.Date_of_Birth__c}" />
			            		<apex:column value="{!c.Total_Service_Order_Cost__c}" />
			            		<apex:column value="{!c.Start_Date__c}" />
			            		<apex:column value="{!c.End_Date__c}" />
								<!--<apex:column value="{!c.GL_Category__c}" /> -->
			            	</apex:pageBlockTable>
			        	</apex:pageBlockSection>
			        </apex:outputPanel>
		        </apex:pageBlock>
	        </apex:form>          
        </apex:define>      
    </apex:composition>
</apex:page>