<apex:component >    
    <apex:attribute name="f" type="Form__c" description=""/> 
    <apex:attribute name="collapsible" type="Boolean" description="" default="false" />   
    
    <apex:pageBlockSection showHeader="false" collapsible="{!collapsible}">
        <apex:outputField value="{!f.SAPOL_Vehicle_Collision_Report_Number__c}" />
        <apex:pageBlockSectionItem />
        <apex:outputField value="{!f.Date_of_accident__c}" />   
        <apex:outputField value="{!f.Time_of_accident__c}" />  
        <apex:outputField value="{!f.Location_of_Accident__c}" /> 
        <apex:outputField value="{!f.Injured_person_s_part_in_accident__c}" />
        <apex:outputField value="{!f.Police_Station_and_Attending_Officer__c}" />
        <apex:outputField value="{!f.Injured_person_s_description_of_accident__c}" />
    </apex:pageBlockSection>
    <br />    
    <apex:pageBlock title="Motor Vehicles involved in the Accident">           
        <apex:pageBlockTable value="{!f.Motor_Vehicles__r}" var="mv" rendered="{!f.Motor_Vehicles__r.size > 0}">
            <apex:column value="{!mv.Driver_s_name__c}" />
            <apex:column value="{!mv.Was_the_vehicle_registered__c}" />
            <apex:column value="{!mv.Make_Model_of_Vehicle__c}" />
            <apex:column value="{!mv.Type_of_Vehicle__c}" />
            <apex:column value="{!mv.State_of_Vehicle_Registration__c}" />
            <apex:column value="{!mv.Number_Plate__c}" />                    
        </apex:pageBlockTable>  
        <apex:outputPanel rendered="{!f.Motor_Vehicles__r.size == 0}">
            None recorded
        </apex:outputPanel>      
    </apex:pageBlock>
    <!--
    <div class="fieldDiv">
        <table class="fields">                
            <tr>
                <th>SAPOL Vehicle Collision Report Number</th>
                <th>Date of Accident (DD/MM/YYYY)</th>
                <th>Time of Accident</th>
            </tr>
            <tr>
                <td><apex:outputField value="{!f.SAPOL_Vehicle_Collision_Report_Number__c}" /></td>
                <td><apex:outputField value="{!f.Date_of_accident__c}" /></td>                                       
                <td> 
                    <table style="border-collapse: collapse;">
                        <tr>
                            <td style="border-collapse: collapse;"><apex:outputField value="{!f.Time_of_accident_hours__c}" /></td>
                            <td style="border-collapse: collapse;">:</td>                        
                            <td style="border-collapse: collapse;"><apex:outputField value="{!f.Time_of_accident_minutes__c}" /></td>
                        </tr>                                  
                    </table>                                            
                </td>                    
            </tr>                
        </table>                                  
        <br />
        <table class="fields">                
            <tr>
                <th>Location of Accident (Street/Road/Highway, Nearest Intersection, Location, State)</th>
            </tr>
            <tr>
                <td><apex:outputField value="{!f.Location_of_Accident__c}" styleClass="fullWidthText" /></td>                    
            </tr>                
        </table>                                  
        <br />
        <table class="fields">                
            <tr>
                <th>Injured person's (applicant's) part in accident (eg. Passenger (front/rear), Driver, Cyclist, Pedestrian, Motorcycle rider, Pillion passenger etc.)</th>
            </tr>
            <tr>
                <td><apex:outputField value="{!f.Injured_person_s_part_in_accident__c}" styleClass="longText" /></td>                    
            </tr>                
        </table>                                  
        <br />
        <table class="fields">                
            <tr>
                <th>Police Station and Attending Officer (if known)</th>
            </tr>
            <tr>
                <td><apex:outputField value="{!f.Police_Station_and_Attending_Officer__c}" styleClass="longText" /></td>                    
            </tr>                
        </table>
        <br />
        <table class="fields">                
            <tr>
                <th>Injured person's (applicant's) description of the accident (eg. position of the injured person in relation to the vehicles involved, how the accident happened etc.)</th>
            </tr>
            <tr>
                <td><apex:outputField value="{!f.Injured_person_s_description_of_accident__c}" styleClass="longTextArea" /></td>                    
            </tr>                
        </table>    
        <br />    
        <b>Motor Vehicles involved in the Accident</b>
        <apex:pageBlock >    
            <apex:pageBlockTable value="{!f.Motor_Vehicles__r}" var="mv">
                <apex:column value="{!mv.Driver_s_name__c}" />
                <apex:column value="{!mv.Was_the_vehicle_registered__c}" />
                <apex:column value="{!mv.Make_Model_of_Vehicle__c}" />
                <apex:column value="{!mv.Type_of_Vehicle__c}" />
                <apex:column value="{!mv.State_of_Vehicle_Registration__c}" />
                <apex:column value="{!mv.Number_Plate__c}" />                    
            </apex:pageBlockTable>    
        </apex:pageBlock>
    </div>-->
</apex:component>