<apex:component >
    <apex:attribute type="Plan__c" name="MyPlan" description=""/>
    <nav id="navigation" class="col-full" role="navigation">
        <section class="menus">
            <a href="{!URLFOR($Page.ParticipantPortalHome)}" class="nav-home"><span><font style="font-size:100%"
                                                                                          my="my">Home</font></span></a>
            <h3>
                <font style="font-size:100%" my="my">Main Nav</font>
            </h3>
            <ul id="main-nav" class="nav fl">
                <li id="menu-item-46"
                    class="menu-item menu-item-type-post_type menu-item-object-page {!IF($CurrentPage.Name=='ParticipantPortalHome','current_page_item','')} page_item page-item-5  menu-item-46">
                    <a accesskey="0" href="{!URLFOR($Page.ParticipantPortalHome)}"><font style="font-size:100%" my="my">Home</font></a>
                </li>
                <li id="menu-item-202"
                    class="menu-item menu-item-type-post_type menu-item-object-page {!IF($CurrentPage.Name=='participantportalmydetails','current_page_item','')} menu-item-202">
                    <a accesskey="1" href="{!URLFOR($Page.ParticipantPortalMyDetailsRedirect)}"><font
                            style="font-size:100%" my="my">My Details</font></a>
                </li>
                <li id="menu-item-252"
                    class="menu-item menu-item-type-post_type menu-item-object-page {!IF($CurrentPage.Name=='participantportaldischargeplan','current_page_item','')} menu-item-252">
                    <a accesskey="2" href="{!URLFOR($Page.ParticipantPortalDischargePlanRedirect)}"><font
                            style="font-size:100%" my="my">Discharge Plan</font></a>
                </li>
                <apex:outputPanel layout="none" rendered="{!MyPlan!=null}">
                    <li id="menu-item-206"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101">
                        <a accesskey="3" href="{!URLFOR($Page.ParticipantPortalMyPlan)}?id={!MyPlan.Id}"><font
                                style="font-size:100%" my="my">My Plan</font></a>
                    </li>
                </apex:outputPanel>
                <li id="menu-item-206"
                    class="menu-item menu-item-type-post_type {!IF($CurrentPage.Name == 'ParticipantPortalMyPlans' || $CurrentPage.Name == 'participantportalmyplan','current_page_item','')} menu-item-object-page menu-item-206">
                    <a accesskey="3" href="{!URLFOR($Page.ParticipantPortalMyPlans)}"><font style="font-size:100%"
                                                                                            my="my">All My Plans</font></a>
                </li>
                <li id="menu-item-206"
                    class="menu-item menu-item-type-post_type {!IF($CurrentPage.Name == 'ParticipantPortalPayments','current_page_item','')} menu-item-object-page menu-item-206">
                    <a accesskey="3" href="{!URLFOR($Page.ParticipantPortalPayments)}"><font style="font-size:100%"
                                                                                            my="my">Adhoc Payments</font></a>
                </li>
                <!-- <li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212">
                   <a accesskey="4" href="http://lifetimesupport.sa.gov.au/news/"><font style="font-size:100%" my="my">My Funding</font></a>
                 </li>-->
                <li id="menu-item-265"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265 {!IF($CurrentPage.Name == 'ParticipantPortalMyRequests' || $CurrentPage.Name == 'ParticipantPortalMyRequest','current_page_item','')}">
                    <a accesskey="5" href="{!URLFOR($Page.ParticipantPortalMyRequests)}"><font style="font-size:100%"
                                                                                               my="my">Contact
                        Planner</font></a>
                </li>
            </ul>
            <ul class="nav fl" style="float:right;">
                <li><a href="#">{!$User.FirstName} {!$User.LastName}</a>
                    <ul>
                        <li><a href="/secur/logout.jsp" accesskey="6"><font style="font-size:100%" my="my">Logout</font></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section><!-- /.menus -->
        <a href="#top" class="nav-close"><span><font style="font-size:100%" my="my">Return to Content</font></span></a>
    </nav>
</apex:component>