<!--
 - Created by me on 06/08/2019.
 -->

<apex:component id="ParticipantContacts" controller="ParticipantContactsController">
    <apex:attribute name="ParticipantId" type="String" required="true" assignTo="{!ClientId}" description=""/>
    <style>
        div[id$="decisionContacts"], div[id$="emergencyContacts"]
        {
            border-top:none !important;
            padding-top:10px !important;
        }
        div[id$="decisionContacts"] .mainTitle, div[id$="emergencyContacts"] .mainTitle
        {
            font-size:1.2em !important;
        }
    </style>
    <apex:pageBlock title="Decision Making Contacts" id="decisionContacts">
        <apex:pageBlockSection columns="1">
            <apex:pageBlockTable value="{!DecisionMakingContacts}" var="dmc">
                <apex:column headerValue="Name">
                    <apex:outputLink value="/{!dmc.ID}" target="_DecContact">{!dmc.Full_Name__c}</apex:outputLink>
                </apex:column>
                <apex:column value="{!dmc.Relationship_to_Participant__c}" headerValue="Relationship" />
                <apex:column value="{!dmc.Preferred_Phone__c}" headerValue="Phone" />
                <apex:column value="{!dmc.Email__c}" headerValue="Email" />
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:pageBlock>
    <apex:pageBlock title="In Case of Emergency Contacts" id="emergencyContacts">
        <apex:pageBlockSection columns="1">
            <apex:pageBlockTable value="{!EmergencyContacts}" var="ec">
                <apex:column headerValue="Name">
                    <apex:outputLink value="/{!ec.ID}" target="_DecContact">{!ec.Full_Name__c}</apex:outputLink>
                </apex:column>
                <apex:column value="{!ec.Relationship_to_Participant__c}" headerValue="Relationship" />
                <apex:column value="{!ec.Preferred_Phone__c}" headerValue="Phone" />
                <apex:column value="{!ec.Email__c}" headerValue="Email" />
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:component>