<apex:component >
    <apex:attribute name="Identifier" type="String" required="false" default="" description="Identifier" />

    <div data-role="page" id="signatureCaptureHome{!Identifier}" style="border: solid 1px #A9A9A9; background-color: white;"> 
        <div data-role="content">                        
            <canvas id="signatureCanvas{!Identifier}" height="100px" width="350px" /><br />            
        </div>  
    </div>
    <div style="width: 100%; text-align: right;"> 
        <input type="button" class="btn" onclick="clearCanvas{!Identifier}();" value="Clear" style="width: 50px;" />
    </div>

    <script>

        var canvas{!Identifier};
        var context{!Identifier};
        var drawingUtil{!Identifier};
        var isDrawing{!Identifier} = false;  
        var hasDrawn{!Identifier} = false;

        function DrawingUtil{!Identifier}() 
        {
            isDrawing{!Identifier} = false;
            
            canvas{!Identifier}.addEventListener("touchstart", start{!Identifier}, false);
            canvas{!Identifier}.addEventListener("touchmove", draw{!Identifier}, false);
            canvas{!Identifier}.addEventListener("touchend", stop{!Identifier}, false);
            
            canvas{!Identifier}.addEventListener("mousedown", start{!Identifier}, false);
            canvas{!Identifier}.addEventListener("mousemove", draw{!Identifier}, false);
            canvas{!Identifier}.addEventListener("mouseup", stop{!Identifier}, false);
            
            context{!Identifier}.strokeStyle = "black";  
        }

        //Start Event for Signature Captuare on HTML5 Canvas
        function start{!Identifier}(event) 
        {
            isDrawing{!Identifier} = true;
            hasDrawn{!Identifier} = true;
            canvas{!Identifier} = document.getElementById("signatureCanvas{!Identifier}");
            context{!Identifier} = canvas{!Identifier}.getContext("2d");    
            context{!Identifier}.strokeStyle = "black";      
            context{!Identifier}.beginPath();
            
            if (event.touches)
            {
                context{!Identifier}.moveTo(event.touches[0].clientX - canvas{!Identifier}.getBoundingClientRect().left,event.touches[0].clientY - canvas{!Identifier}.getBoundingClientRect().top);
            }
            else
            {                
                context{!Identifier}.moveTo(event.clientX - canvas{!Identifier}.getBoundingClientRect().left, event.clientY - canvas{!Identifier}.getBoundingClientRect().top);
            }
        }

        //Event while someone is drawing to caputre the path while they draw....
        function draw{!Identifier}(event) 
        { 
            event.preventDefault();
            if(isDrawing{!Identifier}) 
            {    
                if (event.touches)
                {
                    context{!Identifier}.lineTo(event.touches[0].clientX - canvas{!Identifier}.getBoundingClientRect().left,event.touches[0].clientY - canvas{!Identifier}.getBoundingClientRect().top);
                }
                else
                { 
                    context{!Identifier}.lineTo(event.clientX - canvas{!Identifier}.getBoundingClientRect().left, event.clientY - canvas{!Identifier}.getBoundingClientRect().top);                    
                }
                context{!Identifier}.stroke();
            }
        }

        //Event when someone stops drawing their signature line
        function stop{!Identifier}(event) 
        { 
            if(isDrawing{!Identifier}) 
            {
                context{!Identifier}.stroke();
                context{!Identifier}.closePath();
                isDrawing{!Identifier} = false;
            }
        }
        
        // clear the canvas
        function clearCanvas{!Identifier}()
        {
            context{!Identifier}.clearRect(0, 0, canvas{!Identifier}.width, canvas{!Identifier}.height); 
            hasDrawn = false;    
            sig{!Identifier}.value = '';
        }

        canvas{!Identifier} = document.getElementById("signatureCanvas{!Identifier}");
        context{!Identifier} = canvas{!Identifier}.getContext("2d");
        drawingUtil{!Identifier} = new DrawingUtil{!Identifier}(canvas{!Identifier});
        
        function processSignature{!Identifier}(hidden)
        {
            if (hasDrawn{!Identifier})
            { 
                var strDataURI = canvas{!Identifier}.toDataURL();            
                //strDataURI = strDataURI.replace(/^data:image\/(png|jpg);base64,/, "");
                hidden.value = strDataURI; 
            }
        } 

        if (sig{!Identifier}.value.length > 0)
        {
            loadCanvas{!Identifier}(sig{!Identifier}.value);
            hasDrawn{!Identifier} = true;
        }
                
        function loadCanvas{!Identifier}(dataURL) 
        {
            // load image from data url
            var imageObj = new Image();
            imageObj.onload = function() {
                context{!Identifier}.drawImage(this, 0, 0);
            };
    
            imageObj.src = dataURL;            
        }                         
    </script>
</apex:component>